.selector-content{
    width: 60px;
}
.selector-ul{
    position: absolute;
    transform: translateX(-10%) translateY(-50%);
    list-style: none;
    cursor: pointer;
    width: 60px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 0 #ffffff solid;
    box-shadow: 0px 0px 3px 1px #949494;
    padding: 0;
}
.selector-ul li{
    width: 60px;
    height: 40px;
    padding-top: 7px;
    text-align: center;
}
:hover.selector-li{
    cursor: pointer;
    background: #aaaaaa;
}
.selectStyle{
    width: 60px;
    border-bottom: 2px #aaaaaa solid;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
}
:hover.selectStyle{
    border-bottom: 4px #aaaaaa solid;
}