.exercise-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: auto;
    border: 1px #ffffff solid;
    box-shadow: 0px 0px 5px 1px #949494;
    width: 500px;
    height: 200px;
}
